@use '../../../global/variables';
@use '../../../global/fonts';

@media (min-width: 100px) and (max-width: 600px){
    .sectionQuatro{
        flex-direction: column;

        .textoSectionQuatro{
            margin: 40px 0;
            width: 100%;
            justify-content: center;
            align-items: center;

            p{
                &:nth-child(1){
                    width: 85%;
                    font-size: 45px;
                }
    
                &:nth-child(2){
                    width: 90%;
                    font-size: 24px;
                }
            }
        }

        .imagemSectionQuatro{
            background-image: url(/assets/images/pages/responsive/imgSectionQuatroResponsive.webp);
            margin-bottom: 40px;
            width: 90%;
        }
    }
}
