@use '../../../global/variables';
@use '../../../global/fonts';

@media (min-width: 100px) and (max-width: 600px){
    .sectionCinco{
        height: 500px;
        margin-top: 25em;
        background-image: url(/assets/images/pages/responsive/imgSectionCincoResponsive.webp);
        background-size: cover;
        background-position: center center;
    }
}