@use '../../../global/fonts';

@media (min-width: 100px) and (max-width: 600px){
    #sectionSete{
        height: 80%;

        .textoSectionSete{
            gap: 15px;
            width: 100%;

            p{    
                &:nth-child(3){
                    width: 90%;
                    font-size: 21px;
                }
            }
        }
    }
}