@use '../../../global/variables';
@use '../../../global/fonts';

@media (min-width: 100px) and (max-width: 600px){
    .sectionUm{
        background-image: url(/assets/images/pages/responsive/imgSectionUmResponsive.webp);
        background-size: cover;
        background-position: center center;

        .conteudo{
            width: 90%;
            height: 70%;
            gap: 40px;
            padding-top: 0;

            .h1, .h2, .paragrafosEButton{
                h1{
                    font-size: 45px;
                    text-align: center;
                }

                h2{
                    font-size: 15px;
                }

                p{
                    font-size: 15px;
                }
            }
        }
    }
} 
