@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 50vh;
    background-color: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .nav-list .active {
    transform: translateX(0);
  }
  .mobile-menu {
    display: block;
  }
}
@font-face {
  font-family: "Merriweather";
  src: url(/assets/fonts/Merriweather-Black.ttf);
  src: url(/assets/fonts/LICENSE.txt);
  src: url(/assets/fonts/OFL.txt);
}
@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto-Black.ttf);
  src: url(/assets/fonts/LICENSE.txt);
  src: url(/assets/fonts/OFL.txt);
}
@media (min-width: 100px) and (max-width: 600px) {
  .sectionUm {
    background-image: url(/assets/images/pages/responsive/imgSectionUmResponsive.webp);
    background-size: cover;
    background-position: center center;
  }
  .sectionUm .conteudo {
    width: 90%;
    height: 70%;
    gap: 40px;
    padding-top: 0;
  }
  .sectionUm .conteudo .h1 h1, .sectionUm .conteudo .h2 h1, .sectionUm .conteudo .paragrafosEButton h1 {
    font-size: 45px;
    text-align: center;
  }
  .sectionUm .conteudo .h1 h2, .sectionUm .conteudo .h2 h2, .sectionUm .conteudo .paragrafosEButton h2 {
    font-size: 15px;
  }
  .sectionUm .conteudo .h1 p, .sectionUm .conteudo .h2 p, .sectionUm .conteudo .paragrafosEButton p {
    font-size: 15px;
  }
}
@media (min-width: 100px) and (max-width: 600px) {
  .sectionDois {
    height: 80vh;
  }
  .sectionDois div {
    text-align: center;
    width: 98%;
  }
  .sectionDois div p:nth-child(2) {
    font-size: 60px;
  }
  .sectionDois div p:nth-child(3) {
    font-size: 17px;
    width: 90%;
  }
}
@media (min-width: 100px) and (max-width: 600px) {
  .sectionTres {
    margin: 4rem 0;
  }
  .sectionTres .imagensST {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sectionTres .imagensST img {
    width: 90%;
  }
  .sectionTres .imagensST img:nth-child(1) {
    background-image: url(/assets/images/pages/responsive/imgSectionTresResponsiveEscultura.webp);
  }
  .sectionTres .imagensST img:nth-child(2) {
    background-image: url(/assets/images/pages/responsive/imgSectionTresResponsiveMuseu.webp);
  }
}
@media (min-width: 100px) and (max-width: 600px) {
  .sectionQuatro {
    flex-direction: column;
  }
  .sectionQuatro .textoSectionQuatro {
    margin: 40px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .sectionQuatro .textoSectionQuatro p:nth-child(1) {
    width: 85%;
    font-size: 45px;
  }
  .sectionQuatro .textoSectionQuatro p:nth-child(2) {
    width: 90%;
    font-size: 24px;
  }
  .sectionQuatro .imagemSectionQuatro {
    background-image: url(/assets/images/pages/responsive/imgSectionQuatroResponsive.webp);
    margin-bottom: 40px;
    width: 90%;
  }
}
@media (min-width: 100px) and (max-width: 600px) {
  .sectionCinco {
    height: 500px;
    background-image: url(/assets/images/pages/responsive/imgSectionCincoResponsive.webp);
    background-size: cover;
    background-position: center center;
  }
}
@media (min-width: 100px) and (max-width: 600px) {
  #sectionSeis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70rem;
    gap: 5px;
  }
  #sectionSeis .centro-img {
    width: 100%;
  }
  #sectionSeis .centro-img .imgJulia {
    width: 90%;
  }
  #sectionSeis .centro-texto {
    width: 90%;
  }
  #sectionSeis .centro-texto div:nth-child(2) h2 {
    font-size: 40px;
  }
  #sectionSeis .centro-texto div:nth-child(2) p {
    font-size: 20px;
  }
}
@media (min-width: 100px) and (max-width: 600px) {
  #sectionSete {
    height: 80%;
  }
  #sectionSete .textoSectionSete {
    gap: 15px;
    width: 100%;
  }
  #sectionSete .textoSectionSete p:nth-child(3) {
    width: 90%;
    font-size: 21px;
  }
}
@media (min-width: 100px) and (max-width: 600px) {
  .container {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .container .divImg {
    width: 90%;
  }
  .container .divImg .imagemDarkness {
    width: 380px;
    height: 450px;
    background-image: url(/assets/images/pages/responsive/imgDarknessResponsive.webp);
    background-size: cover;
  }
  .container .divImg .imagemAfter {
    width: 380px;
    height: 450px;
    background-image: url(/assets/images/pages/responsive/imgAfterResponsive.webp);
    background-size: cover;
  }
  .container .divImg .imagemTrue {
    width: 380px;
    height: 450px;
    background-image: url(/assets/images/pages/responsive/imgTrueResponsive.webp);
    background-size: cover;
  }
  .container .divText {
    padding: 0 30px;
  }
  .container .divText p:nth-child(1) {
    margin-top: 15px;
  }
  .container .divText p:nth-child(2) {
    font-size: 19px;
    text-align: justify;
  }
  .container:nth-child(2) {
    flex-wrap: wrap-reverse;
  }
}
@media (min-width: 100px) and (max-width: 600px) {
  #sectionNove {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    gap: 20px;
  }
  #sectionNove .divUm {
    width: 90%;
    height: unset;
  }
  #sectionNove .divUm p:nth-child(1) {
    font-size: 50px;
  }
  #sectionNove .divUm p:nth-child(2) {
    font-size: 23px;
    color: rgba(0, 0, 0, 0.5019607843);
  }
  #sectionNove .divDois {
    width: 90%;
    height: unset;
  }
  #sectionNove .divDois p:nth-child(1) {
    font-size: 30px;
  }
  #sectionNove .divDois p:nth-child(2) {
    font-size: 23px;
  }
  #sectionNove .divDois p:nth-child(3) {
    font-size: 23px;
  }
  #sectionNove .divDois p:nth-child(4) {
    font-size: 23px;
  }
  #sectionNove .divDois p:nth-child(5) {
    font-size: 23px;
  }
  #sectionNove .divDois button {
    background-color: #690D2C;
    color: rgba(255, 255, 255, 0.8901960784);
    border: 0px;
    width: 180px;
  }
}
@media (min-width: 100px) and (max-width: 600px) {
  .conteudoSectDez p {
    margin: 0 20px;
    font-size: 22px;
  }
}
button {
  width: 160px;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "roboto";
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../../scss/pages/responsive/partials/_headerResponsive.scss%22,%22../../../scss/global/_fonts.scss%22,%22../../../scss/pages/responsive/partials/_sectionUmResponsive.scss%22,%22../../../scss/pages/responsive/partials/_sectionDoisResponsive.scss%22,%22../../../scss/pages/responsive/partials/_sectionTresResponsive.scss%22,%22../../../scss/pages/responsive/partials/_sectionQuatroResponsive.scss%22,%22../../../scss/pages/responsive/partials/_sectionCincoResponsive.scss%22,%22../../../scss/pages/responsive/partials/_sectionSeisResponsive.scss%22,%22../../../scss/pages/responsive/partials/_sectionSeteResponsive.scss%22,%22../../../scss/pages/responsive/partials/_sectionOitoResponsive.scss%22,%22../../../scss/pages/responsive/partials/_sectionNoveResponsive.scss%22,%22../../../scss/global/_variables.scss%22,%22../../../scss/pages/responsive/partials/_sectionDezResponsive.scss%22,%22../../../scss/global/_elements.scss%22,%22../../../scss/global/_normalize.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;EACI;IACI;;EAGJ;IACI;IACA;IACA;IACA;IACA;IACA;IACA;IACA;IACA;IACA;;EAEA;IACI;IACA;;EAGJ;IACI;;EAIR;IACI;;;AC5BR;EACI;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;ACRJ;EACI;IACI;IACA;IACA;;EAEA;IACI;IACA;IACA;IACA;;EAGI;IACI;IACA;;EAGJ;IACI;;EAGJ;IACI;;;ACtBpB;EACI;IACI;;EAEA;IACI;IACA;;EAGI;IACI;;EAGJ;IACI;IACA;;;ACjBpB;EACI;IACI;;EAEA;IACI;IACA;IACA;;EAEA;IACI;;EAEA;IACI;;EAEJ;IACI;;;ACfpB;EACI;IACI;;EAEA;IACI;IACA;IACA;IACA;;EAGI;IACI;IACA;;EAGJ;IACI;IACA;;EAKZ;IACI;IACA;IACA;;;AC1BZ;EACI;IACI;IACA;IACA;IACA;;;ACNR;EACI;IACI;IACA;IACA;IACA;IACA;IACA;;EAEA;IACI;;EAGA;IACI;;EAIR;IACI;;EAIQ;IACI;;EAGJ;IACI;;;AC5BxB;EACI;IACI;;EAEA;IACI;IACA;;EAGI;IACI;IACA;;;ACVpB;EACI;IACI;IACA;;EAEA;IACI;;EAEA;IACI;IACA;IACA;IACA;;EAGJ;IACI;IACA;IACA;IACA;;EAGJ;IACI;IACA;IACA;IACA;;EAIR;IACI;;EAGI;IACI;;EAGJ;IACI;IACA;;EAKZ;IACI;;;AC9CZ;EACI;IACI;IACA;IACA;IACA;IACA;IACA;;EAEA;IACI;IACA;;EAGI;IACI;;EAGJ;IACI;IACA,OCjBC;;EDsBb;IACI;IACA;;EAGI;IACI;;EAEJ;IACI;;EAEJ;IACI;;EAEJ;IACI;;EAEJ;IACI;;EAIR;IACI,kBClDA;IDmDA,OChDC;IDiDD;IACA;;;AEnDhB;EAEQ;IACI;IACA;;;ACLZ;EACI;EACA;EACA;EACA;;;ACNJ;EACI;EACA;EACA;EACA;EACA%22,%22file%22:%22responsive.css%22%7D */
