@use "../global/variables";

button{
    width: 160px;
    height: 45px;

    &:hover{
        background-color: variables.$corSiteGlobal;
        border: 1px solid variables.$corTextoBranco;
        color: variables.$corTextoBranco;
        transition: .2s;
    }
}