@font-face {
    font-family: 'Merriweather';
    src: url(/assets/fonts/Merriweather-Black.ttf);
    src: url(/assets/fonts/LICENSE.txt);
    src: url(/assets/fonts/OFL.txt);
} 

@font-face {
    font-family: 'Roboto';
    src: url(/assets/fonts/Roboto-Black.ttf);
    src: url(/assets/fonts/LICENSE.txt);
    src: url(/assets/fonts/OFL.txt);
} 