// Cor global do site
$corSiteGlobal: #690D2C;

// Cores do texto
$corTextoBranco: #ffffffe3;
$corTextoPretoForte: #000000;
$corTextoPretoFraco: #00000080;
$corTextoVermelhoFraco: #75011E;

// Cor do conteiner
$corSectionBrancoMaisEscuro: #F2F2F2;

$corInput: #F1F1F1;