@use '../../../global/variables';

body{
    position: relative;
    height: 100vh;
    font-family: 'Merriweather';

    header{
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80px;
        z-index: 2;

        nav > a{
            margin: 0 10px;
            color: variables.$corTextoBranco;
            text-decoration: none;
            font-family: 'Roboto';
            font-size: 14px;
            padding: 5px;

            &:hover{
                border-bottom: 1px solid white;
            }

        }
    }
}