.sectionTres{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .imagensST{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 90%;
        
        img{
            width: 450px;
            height: 90%;
        }
    }
}