@use '../../../global/variables';
@use '../../../global/fonts';

.sectionOito{
    background-color: variables.$corSectionBrancoMaisEscuro;
    width: 100%;

    .container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 90%;
        width: 100%;

        .divImg{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            .imagemDarkness{
                width: 500px;
                height: 600px;
                background-image: url(/assets/images/pages/index/imgDarkness.webp);
                background-size: cover; 
                background-position: center center;
            }
            .imagemAfter{
                width: 500px;
                height: 600px;
                background-image: url(/assets/images/pages/index/imgAfter.webp);
                background-size: cover;
                background-position: center center;
            }
            .imagemTrue{
                width: 500px;
                height: 600px;
                background-image: url(/assets/images/pages/index/imgTrue.webp);
                background-size: cover;
                background-position: center center;
            }

        }

        .divText{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            width: 400px;

            p{
                &:nth-child(1){
                    font-size: 30px;
                    align-self: flex-start;
                }

                &:nth-child(2){
                    color: variables.$corTextoPretoFraco;
                }    
            }
        }

        &:nth-child(2){
            padding-top: 13rem;
            flex-direction: row-reverse;
        }
        
        &:nth-child(3){
            padding: 13rem 0 4rem 0;
        }
    }
}