@use '../../../global/fonts';

.sectionTres{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 0;

    .imagensST{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        gap: 20px;
    }
}